#nav {
    background-color: #2c0d09;
    width: 100%;
    height: 117px;
}

#menu {
    display: flex;
    height: 117px;
    width: 100%;
    justify-content: flex-end;
}

.btnmenu {
    background-color: transparent;
    border: 0px;
    color: white;
    margin: 10px;
}

.btnmenu:hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
