#nav {
    background-color: #C01E1E;
    opacity: 70%;
    width: 100%;
    height: 117px;
}

#menu {
    display: flex;
    height: 117px;
    width: 100%;
    justify-content: flex-end;
}

.btnmenu {
    background-color: transparent;
    border: 0px;
    color: white;
    margin: 10px;
}

.btnmenu:hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#carta {
    margin-top: 20px;
    background-color: #D9D9D9;
    width: 700px;
    height: 860px;
    padding: 5px;
}

#inputNameUsuario {
    border: 2px solid #C01E1E;
    width: 400px;
    height: 40px;
    margin-left: 30px;
}

#numMesa {
    border: 2px solid #C01E1E;
    opacity: 70%;
    width: 200px;
    height: 45px;
    margin-left: 20px;
}

#contProducts{
    box-sizing: content-box;
width: 100%;
}

#cards {
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
}

#cardProducts {
    background-color: #5A5B29;
    opacity: 83%;
    border: 0;
    border-radius: 10px;
    margin-right: 8px;
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 5px;
}

#cardProducts:hover {
    background-color: #7d7e3d;
}

#cardProducts img {
    width: 90px;
    height: 90px;
    margin-top: -10px;
}


#cardProducts h5 {
    margin-top: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 91a761f517f031f230bd741db55af89a0bafd316
