<header id="nav">
    <div id="menu">
        <button class="btnmenu">CARTA</button>
        <button class="btnmenu">PEDIDOS</button>
        <button class="btnmenu">CERRAR SESION</button>
    </div>
</header>
<section id="carta">
    <input id="inputNameUsuario" type="text" placeholder="Ingresa nombre del cliente">
    <select name="numMesa" id="numMesa">
        <option value="nummesa">Selccione # de mesa</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <h2>Desayuno</h2>
    <div id="cards">
        <div *ngFor="let snkChar of productos">
            <button id="cardProducts">
                <h4>{{snkChar.price}}</h4>
                <img src='{{snkChar.image}}'>
                <h5>{{snkChar.name}}</h5>
            </button>
        </div>
    </div>
    <h2>Almuerzo y Cena</h2>
    <div id="cards">
        <div  *ngFor="let snkChar of productosAlmuerzo">
            <button id="cardProducts">
                <h4>{{snkChar.price}}</h4>
                <img src='{{snkChar.image}}'>
                <h5>{{snkChar.name}}</h5>
            </button>
        </div>
    </div>
</section>