
#carta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     background-image: url(../../../assets/images/burger01.jpg);
    background-size:cover;
}

#divProductos {
    margin-top: 20px;

    width: 700px;
    height: 860px;
    padding: 5px;
}
.bttn-type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5.5%;
}
.bttn-type button{
    font-size: 120%;
    border-radius:10px;
    padding: 3%;
    font-family: 'Galindo', cursive;
    font-weight: lighter;
    background-color: #5A5B29;
    color: white;
    border: 3px #191a0c outset;
}
#divProductos form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#inputNameUsuario,
#numMesa {
    border: 4px solid #2c0d09;
    width: 400px;
    height: 40px;
    margin-left: 8%;
    border-radius: 8px;
    font-size: 120%;
    padding: 1%;
}
#contProducts {
    box-sizing: content-box;
    width: 100%;
}

#cards {
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
}

#cardProducts {
    background-color: #5A5B29;
    opacity: 83%;
    border: 0;
    border-radius: 10px;
    margin-right: 8px;
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 5px;
}

#cardProducts:hover {
    background-color: #7d7e3d;
}

#cardProducts img {
    width: 90px;
    height: 90px;
    margin-top: -10px;
}

#cardProducts h5 {
    margin-top: auto;
}


.products--grid {
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 39em) {
    .products--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .products--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

@media screen and (min-width: 64em) {
    .products--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

}