<body>
<div class="containerLogin">
    <div class="menuLogin">
        <p id="logoimg" class="logoimg">Burger Queen</p>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="formLogin" >
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName = "usuario">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName ="password">
            
            <button class="btnLogin" type="submit">Iniciar Sesión</button>
            
        </form>
        
    </div>
</div>
</body>