
@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);
*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
body{
	
	
	color: #333;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}
.containerLogin{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 480px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
	width: 98%;
}
.containerLogin:before{
	background: url('https://i.pinimg.com/originals/46/b7/d5/46b7d56445a1675781ba4bd97fd62a35.jpg') center no-repeat;
	background-size: cover;
	content: '';
	-webkit-filter: blur(8px);
	filter: blur(8px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.containerLogin:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
    border-radius:10px ;
}

 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 form input{
    font-size: 130%;
    margin-top: 10%;
    border-radius: 10px;
    border: 0;
    padding: 2%;
    font-family: 'Raleway', sans-serif;
}
 

img{
    width: 100%;
    height: 100%;
}



 .btnLogin{
    
    margin-top: 20px;
    border-radius: 8px;
    background-color: #C01E1E;
    border: 0;
    padding: 4%;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: rgb(255, 253, 253);

 }

